*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Arima', cursive;
    background-color: #e8cba8;
    overflow-x: hidden;

}

.navbar {
    display: flex;
    background-color: #441f0b;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

.menu {
    margin-top: 0.5em;
}

.menu.actual a{
    text-decoration: underline;
}

.logo {
    margin-left: 30px;
    max-width: 100px;
    max-height: 100px;
}

.menu > a {
    font-size: 2em;
    color: #e8cba8;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 100%;
    background-image: linear-gradient(to top, #e8cba8 0%, rgb(0,0,0,0) 5%), url(../img/gato-header-4b.jpg);
    background-size: 100% 800px;
}


.titulo h1 {
    font-size: 9em;
    font-weight: 700;
    color: #441f0b;
    text-shadow: 0.03em 0.03em rgb(217, 217, 217);
}

.titulo h2 {
    position: relative;
    bottom: 7%;
    text-align: center;
    font-style: italic;
    font-size: 5em;
    font-weight: 700;
    color: #e8cba8;
    text-shadow: 0.03em 0.03em rgb(217, 217, 217);
}

main {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 2%;
}

.bienvenida {
    width: 40%;
}

.bienvenida h3 {
    text-align: center;
    font-size: 3em;
    color: rgb(245, 157, 84);
}

.bienvenida p{
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    text-align: justify;
    font-size: 1.5em;
    color: #441f0b;
    margin: 0 5% 5% 5%;
    text-indent: 1.5em;
}

.mapa {
    width: 40%;
    margin: 2% 2%;
    border: 4px rgb(245, 157, 84) dashed;
}

footer {
    height: 100px;
    display: flex;
    background-color:#441f0b;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    font-size: 3em;
    color: #e8cba8;
}

.bienvenida a {
    color:#91390a;
}

a:hover {
    transition: .3s ease all;
    color: rgb(245, 157, 84);
}

.titulo-animado {
    align-self: center;
    margin: 2%;
    font-size: 4em;
    text-shadow: 0.03em 0.03em #fff6ec;
  }

  .titulo-animado span {
    position: relative;
    display: inline-block;
    color: #441f0b;
    animation: saltos 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes saltos {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }

}

#paw1, #paw2 {
    color: #9f5125;
    font-size: 80%;
    margin: 0 2% 0 2%;
}

#paw1 {
    transform: rotate(15deg);
    
}

#paw2 {
    transform: rotate(-15deg);

}

.galeria {
    margin: 0 auto;
    width: 90%;
    background-color: #e8cba8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3em;
    row-gap: 2em;
}

.foto {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    transition: all 300ms;
}

.foto:hover {
    transform: scale(1.05);
}

.galeria h3 {
    margin: 2%;
    padding: 0 15% 0 15%;
    background-color: #9f5125;
    font-size: 2em;
    color: #fff6ec;
    text-align: center;
    border-radius: 10px;
    
    
}

.galeria p {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #441f0b;
    text-align: justify;
    margin: 0 10% 0 10%;
    line-height: 1.5;
    text-indent: 1.2em;
}

.gato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff6ec;
    padding: 5% 0 5% 0;
    border-radius: 10px;
    border: 2px #9f5125 dashed;
    outline: 10px #fff6ec solid;
    margin-bottom: 10%;
}

.gato milo {
    grid-column: 1/2;
    grid-row: 1/2;
}

.gato pixel {
    grid-column: 2/3;
    grid-row: 1/2;
}

.gato luna {
    grid-column: 3/4;
    grid-row: 1/2;
}

.gato mona {
    grid-column: 1/2;
    grid-row: 2/3;
}

.gato ginger {
    grid-column: 2/3;
    grid-row: 2/3;
}

.gato barney {
    grid-column: 3/4;
    grid-row: 2/3;
}

.gato kirby {
    grid-column: 1/2;
    grid-row: 3/4;
}

.gato dio {
    grid-column: 2/3;
    grid-row: 3/4;
}

.gato la-micha {
    grid-column: 3/4;
    grid-row: 3/4;
}

@media screen and (max-width: 640px) {

    header {
        display: flex;
        justify-content: center;
        height: 300px;
        width: 100%;
        background-image: linear-gradient(to top, #e8cba8 0%, rgb(0,0,0,0) 5%), url(../img/gato-header-4b.jpg);
        background-size: 100% 300px;
    }

    .titulo {
        font-size: 40%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #441f0b;
        height: auto;
    }

    .logo {
        height: 100px;
        margin: 0;
    }

    .menu {
        border-top: #e8cba8 1px solid;
        margin: 0;
        padding: 0 100%;
    }

    .menu > a {
        font-size: 1.5em;
    }

    footer {
        height: 50px;
    }

    footer a {
        font-size: 1.5em;
    }

    main {
        flex-direction: column;
    }
  
    .bienvenida {
        width: 100%;
    }
    
    .bienvenida h3 {
        text-align: center;
        font-size: 2em;
        color: rgb(245, 157, 84);
    }
    
    .bienvenida p{
        text-align: justify;
        font-size: 1em;
        color: #441f0b;
        margin: 2% 2%;
    }
    
    .mapa {
        width: 100%;
        margin: 2% 2%;
        border: 2px rgb(245, 157, 84) solid;
    }
    
    .galeria {
        display: flex;
        flex-direction: column;
    }

    .gato {
        margin: 5% 5%;
    }

    .titulo-animado {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 10vw;
    }
}

@media screen and (min-width: 640px) and (max-width: 1280px){
    
    .titulo h1 {
        font-size: 10vw;
    }

    .titulo h4 {
        font-size: 5vw;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .gato milo {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .gato pixel {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .gato luna {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .gato mona {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .gato ginger {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .gato barney {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .gato kirby {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .gato dio {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .gato la-micha {
        grid-column: 1/2;
        grid-row: 5/6;
    }



}

.promos {
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to top, #e8cba8 0%, rgb(0,0,0,0) 3%),url(../img/cafe.jpg);
}

.container {
    display: none;
}

.hola{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}

.form {
    background-color: antiquewhite;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    max-width: 400px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.form__title {
    font-size: 40px;
    margin-bottom: 5px;
}

.form__container {
    margin-top: 15px;
    display: grid;
    gap: 30px;
}

.form__group {
    position: relative;
}

.form__input{
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-family: 'Arima', cursive;
}

.form__input:focus + .form__label, 
.form__input:not(:placeholder-shown) + .form__label {

    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #441f0b;
}

.form__label{
    color: rgb(241, 144, 65);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}

.form__submit {
    background: orangered;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em .0;
    border: none;
    border-radius: .5em;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transform: left bottom;
    transition: transform 4.5s;
}

#headcafe{
    background-image: linear-gradient(to top, #e8cba8 0%, rgb(0,0,0,0) 5%), url(../img/cafe.jpg);;
    opacity: 0.5;
}
#headsalado{
    background-image: linear-gradient(to top, #e8cba8 0%, rgb(0,0,0,0) 5%), url(../img/tostado.jpg);;
    opacity: 0.5;
}
#headtorta{
    background-image: linear-gradient(to top, #e8cba8 0%, rgb(0,0,0,0) 5%), url(../img/chocotorta.jpg);;
    opacity: 0.5;
}

.comida{
    text-align: center;
    margin-top: 100px;
    color:#000000;
}
.pdos{
    margin-top: 105px;
    text-align: center;
    color: rgb(255, 238, 0);
}
.padre{
    display:flex;
    flex-direction: column;
}
.hijo1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.hijo2{
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}
.father{
    position:relative;
    display: flex;
    background-color: #441f0b;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    
}
.father a{
    font-family: 'Arima', cursive;
    font-size: 2em;
    color: #e8cba8;
    text-decoration: none;
}
.father a:hover{
    color: rgb(245, 157, 84);
}

.quienes-somos {
    position: relative;
    margin: 0;
    width: 100%;
    height: 1000px;
}

.quienes-somos > img {
    position: relative;
    z-index: -1;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.info-quienes-somos {
    position: absolute;
    display: grid;
    grid-template-rows: 16% 28% 28% 28%;
    grid-template-areas: 
    "h1 h1 h1"
    "p1 p2 p3"
    "p1 p2 p3"
    "p1 p2 p3";
    background-color: rgb(255,255,255,0.5);
    height: 800px;
    margin: 5%;
    width: 80%;

}

.info-quienes-somos h1 {
    width: 100%;
    font-size: 4em;
    color: #441f0b;
    grid-area: h1;

}

.info-quienes-somos p {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #441f0b;
    text-align: justify;
    text-indent: 1em;
    margin: 0 10% 2% 10%;
}

.info-quienes-somos p a {
    color:#9f5125;
}

.info-quienes-somos p a:hover {
    transition: .3s ease all;
    color: rgb(245, 157, 84);
}

.info-quienes-somos .p1 {
    grid-area: p1;
}

.info-quienes-somos .p2{
    grid-area: p2;
}

.info-quienes-somos .p3 {
    grid-area: p3;
}

.a-reglas {
    position: absolute;
    z-index: 1;
    height: 40%;
    width: 40%;
    right: 0;
    bottom: 0;
}

#icono-gatito {
    position: absolute;
    bottom: -6%;
    right: 2%;
    transform: scaleX(-1);
}

#globo-texto {
    position: absolute;
    right: 30%;
    bottom: 31%;
    color: #9f5125;
    font-size: 15em;
    transform: scaleX(-1);
}

#btn-reglas {
    position: absolute;
    right: 33%;
    bottom: 50%;
    width: 200px;
    font-family: 'Arima', cursive;
    text-decoration: underline;
    color: #e8cba8;
    border: none;
    background-color: inherit;
    font-size: 1.5em;
    cursor: pointer;
}

#btn-reglas:hover {
    transition: .3s ease all;
    color: rgb(245, 157, 84);
}

.overlay {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,.3);
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup-reglas {
    background-color:#e8cba8;
    border: 2px #9f5125 dashed;
    outline: 10px #e8cba8 solid;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0,.3);
    width: 50%;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: 1s ease all;
}

.popup-reglas h2 {
    color: #441f0b;
    font-size: 2em;
    font-family: 'Arima', cursive;
    text-decoration: underline;
    margin-bottom: 2%;
}

.popup-reglas li {
    color: #441f0b;
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    margin: 0 10% 0 10%;
}

.popup-reglas.active {
    opacity: 1;

}

.btn-cerrar-popup {
    font-size: 1.2em;
    display: block;
    text-align: right;
    color:#441f0b;
}


