*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arima', cursive;
    background-color: #e8cba8;
    display: flex;
    justify-content: flex-start;

}

nav {
    margin-bottom: 80%;
    position: fixed;
    display: flex;
    z-index: 0;
    background-color: #441f0b;
    text-align: center;
    height: 60px;
    width: 100%; 
    
}
ul{
   padding-top: 40px;
   text-align: center;
   padding-right: 10px; ;
   position: relative;
}
li {
    display: inline;
    border-top: 10px;
   
}

a {
    margin: 0 100px;
    position: relative;
    bottom: 20px;
    font-size: 2em;
    color: #e8cba8;
    text-decoration: none;
}

.logo {
    position: relative;
    right: 12%;
}

.fondo {
    position: relative;
    z-index: -1;
}

header {
    height: 10%;
    width: 100%;
    position: sticky;
    
}
.padre{
    position: fixed;
}
.hijo{
    position: relative;
}
section{
    position: inherit;
}
h1 {
    position: absolute;
    z-index: index 0;;
    left: 50%;
    top: 15%;
    font-size: 8em;
    font-weight: 700;
    color: #441f0b;
    text-shadow: 0.01em 0.01em rgb(167, 167, 167);
}

.difuminado {
    position: relative;
    z-index: 2;
    height: 30px;
    bottom: 30px;
    background-image: linear-gradient(to top, #e8cba8 0%, #e8cba8 60%, rgb(0,0,0,0) 100%);
}

footer {
    background-color: #e8cba8;
    height: 10px;
    text-align: center;
    position: relative;
}

i {
    padding: 10px 10%;
    padding-bottom: 50px;
    font-size: 36px;
}

.galeria {
    margin: 2% auto; 
    height: 800px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;

}

.luna {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   width: 80%;
    
}

.foto {
    border-radius: 10%;
    width: 20%;
    height: 60%;
}

.pixel {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   order: -1;
   width: 40%;
}

.mona {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40%;

}

.container{
    margin: 2% auto; 
    height: 800px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12,auto) ;
    grid-template-rows:repeat(12,auto) ;
    grid-column-gap: 2px;
    border-style: solid;
    border-top: 40%;
    border-color: aqua;
    border-top-width: 10px;
    border-bottom-width:10px ;
    border-right-width: 20px;
    border-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px ;
    max-height: 80px;
    border-left-width: 2px;
    border-radius: 10%;
    top:10px;
    bottom:20px;
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
    align-content:start ;
    justify-content: end;
}
.cafe{
    grid-column-start:1 ;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: center; 
    align-items: center;
    
}
.fotcafe{
    border-radius:10% ;
    width: 80%;
    height: 80%;
    
}
.tostado{
    grid-column-start: 4;   
    grid-column-end: 7;
    grid-row-start:4 ;
    grid-row-end: 5;
    justify-content: start;
}
.fottostado{
    border-radius: 10%;
    width: 80%;
    height: 80%;
}
.lemonpie{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end:3 ;
    justify-content: center;
    align-items: center;
}
.fotlemonpie{
    border-radius:10% ;
    width: 120%;
    height: 50%;
}
.chocotorta{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start:6 ;
    grid-row-end: 7;
    justify-content: start;
}
.fotchocotorta{
    border-radius: 10%;
    width: 100%;
    height: 100%;
}
.hola{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}
}
